.input {
  background: none;
  appearance: none;
  border: none;
  border-bottom: 1px solid map.get($theme, 'text-primary');
  padding-bottom: 0.7rem;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.5;
  }
}
