.folder-card {
  height: 37.5rem;
  padding-top: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 3px map.get($theme, 'folder-card-shadow-color');
  background: map.get($theme, 'bg-primary');
  display: flex;
  flex-direction: column;
  overflow: hidden;

  --folder-card-horizontal-gap: 2rem;

  &__head {
    margin-bottom: 1.5rem;
    padding: 0 var(--folder-card-horizontal-gap);
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    &__title {
      color: map.get($theme, 'text-secondary');
      font-size: 2.2rem;
      margin-right: 1rem;
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
    }

    &__btn {
      margin-left: auto;
    }
  }

  &__body {
    flex: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
