.bookmark-item {
  display: flex;
  align-items: center;
  padding: 1rem var(--folder-card-horizontal-gap);


  &:hover {
    background-color: map.get($theme, 'bg-secondary');
  }

  &__icon {
    @include square-size($size: 1.1em);
  }
  
  &__title {
    flex: 1 0;
    overflow: hidden;
    margin: 0 1rem;
  }
}
