.bookmark-item {
  display: flex;
  align-items: center;
  padding: 0.7rem var(--folder-card-horizontal-gap);

  &:hover {
    background-color: map.get($theme, 'bg-tertiary');
  }

  &__icon {
    @include square-size($size: 1.25em);
  }

  &__title {
    flex: 1 0;
    overflow: hidden;
    margin: 0 1rem;
  }
}
