.bookmark-item {
  display: flex;
  align-items: center;
  padding: 0 var(--folder-card-horizontal-gap);
  line-height: 1;

  &:hover {
    background-color: map.get($theme, 'bg-tertiary');
  }

  &__left {
    flex: 1;
    display: flex;
    align-items: center;

    &__icon {
      @include square-size($size: 1.125em);
    }

    &__title {
      margin: 0 1rem;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  & > * {
    padding: 0.5rem 0;
  }
}
