.bookmark-modal {
  display: flex;
  flex-direction: column;
  width: 30rem;
  
  > * + * {
    margin-top: 1.5rem;
  }

  @media #{$min-xs} {
    width: 40rem;
  }

  &__btn {
    align-self: flex-start;
    margin-top: 1.8rem;
  }
}
