@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0.5;
    transform: translateY(1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &__overlay,
  &__window {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    animation: appear 0.2s ease-out;
  }

  &__window {
    justify-self: center;
    align-self: center;
    background: map.get($theme, 'bg-modal');
    padding: 2rem;
    border-radius: 5px;
    animation: slide-up 0.2s ease-out;
    position: relative;

    &__head {
      display: flex;
      margin-bottom: 2.5rem;

      &__title {
        font-size: 2rem;
        margin-right: 2rem;
      }

      &__close {
        margin-left: auto;

        transform: translateY(-.5rem);

        svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
