.layout {
  display: grid;
  grid-template-columns: 7.5rem 1fr;
  height: 100%;

  &__sidebar {
    height: 100%;
    background: map.get($theme, 'bg-sidebar');
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn {
      @include square-size($size: 2.8rem);
      cursor: default;
      color: map.get($theme, 'text-primary');

      svg {
        @include square-size($size: 100%);
      }

      & + & {
        margin-top: 2rem;
      }

      &--clickable {
        cursor: pointer;

        transition: opacity 0.1s ease-out;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
