.folder-card-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  transition: opacity $transition;

  border: 2px dashed map.get($theme, 'primary-color');

  &:hover {
    opacity: 0.8;
  }

  svg {
    @include square-size($size: 4rem);
  }
}
