@mixin button-more-reveal($trigger, $target, $transition) {
  @at-root {
    #{$target} {
      transition: opacity $transition;

      #{$trigger}:not(:hover) &:not(:has([data-button-more-actions])) {
        opacity: 0;
      }

      #{$trigger}:hover & {
        opacity: 1;
      }
    }
  }
}
